<yml_catalog date="{{ date }}">
    <shop>
        <name>{{ store.name }}</name>
        <company>{{ store.name }}</company>
        <url>{{ storeHost }}</url>
        <currencies>
            <currency id="UAH" rate="1"/>
        </currencies>
        <categories>
            {% for id, category in categories -%}
                <category id="{{ id }}"{% if category.parent %} parentId="{{ category.parent }}"{% endif %}>{{ category.name }}</category>
            {%- endfor %}{{ "" }}
        </categories>
        <offers>
            {% for id, product in products -%}
                <offer id="{{ id }}" available="true">
                    <url>{{ product.url }}</url>
                    <price>{{ product.price }}</price>
                    <currencyId>UAH</currencyId>
                    <categoryId>{{ product.categoryId }}</categoryId>
                    {% if 'picture' in product|keys %}
                        <picture>{{ product.picture }}</picture>
                    {% endif %}
                    <name>{{ product.name }}</name>
                    <vendor>{{ product.vendor }}</vendor>
                    {% if product.description -%}
                        <description>{{ product['description'] | raw | striptags }}</description>
                    {% endif -%}
                    {%- if 'parameters' in product|keys -%}
                        {%- for name, value in product.parameters -%}
                            <param name="{{ name }}">{{ value }}</param>
                        {% endfor -%}
                    {%- endif -%}
                </offer>
            {% endfor -%}
        </offers>
    </shop>
</yml_catalog>